<h1>Sales Order Details: </h1>
<%= link_to "Print", home_printable_path, class: "btn" if signed_in? %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#salesOrder" data-toggle="tab">Sales Order Details</a></li>
  <li><a href="#customerDetails" data-toggle="tab">Customer Details</a></li>
</ul>

<div class="tab-content">
  <div id="salesOrder" class="tab-pane active">
<div class="row">
  <div class="span3">
<p>
  <b>Outlet code:</b>
  <%= @so_header.outlet_code %>
</p>

<p>
  <b>Company code:</b>
  <%= @so_header.company_code %>
</p>

<p>
  <b>Outlet name:</b>
  <%= @so_header.outlet_name %>
</p>

<p>
  <b>Customer name:</b>
  <%= @so_header.customer_name %>
</p>

<p>
  <b>Delivery group:</b>
  <%= @so_header.delivery_group %>
</p>

<p>
  <b>So number:</b>
  <%= @so_header.so_number %>
</p>

<p>
  <b>Order date:</b>
  <%= @so_header.order_date %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @so_header.delivery_date %>
</p>

<p>
  <b>Production date:</b>
  <%= @so_header.production_date %>
</p>

<p>
  <b>Total order amount:</b>
  <%= sprintf("P%0.02f", @so_header.total_order_amount) %>
</p>

<p>
  <b>Vat:</b>
  <%= sprintf("P%0.02f", @so_header.vat) %>
</p>

<p>
  <b>Msf charge:</b>
  <%= sprintf("P%0.02f", @so_header.msf_charge) %>
</p>

<p>
  <b>Delivery charge:</b>
  <%= sprintf("P%0.02f", @so_header.delivery_charge) %>
</p>

<p>
  <b>Grand total:</b>
  <%= sprintf("P%0.02f", @so_header.grand_total) unless @so_header.grand_total.nil? %>
</p>

<p>
  <b>Order status:</b>
  <% if @so_header.order_status.nil? %>
      
  <% else %>
    <%= @so_header.order_status %>
  <% end %>
</p>

<p>
  <b>Sales invoice num:</b>
  <% if @so_header.sales_invoice_num.nil? %>
      
  <% else %>
      <%= @so_header.sales_invoice_num %>
  <% end %>
</p>

<p>
  <b>Sales invoice date:</b>
  <% if @so_header.sales_invoice_date.nil? %>
      
  <% else %>
      <%= @so_header.sales_invoice_date %>
  <% end %>
</p>
    </div>
  <div class="span9">
    <%= render 'orders' %>
  </div>
  </div>
  </div>
  <div id="customerDetails" class="tab-pane">
    <p>
      <b>Customer type:</b>
      <%= @so_header.customer_maintenance.customer_type %>
    </p>

    <p>
      <b>Customer name:</b>
      <%= @so_header.customer_maintenance.customer_name %>
    </p>

    <p>
      <b>Customer tax:</b>
      <%= @so_header.customer_maintenance.customer_tax_id %>
    </p>

    <p>
      <b>Vat registered:</b>
      <%= @so_header.customer_maintenance.vat_registered %>
    </p>

    <p>
      <b>Contact name:</b>
      <%= @so_header.customer_maintenance.contact_name %>
    </p>

    <p>
      <b>Primary phone:</b>
      <%= @so_header.customer_maintenance.primary_phone %>
    </p>

    <p>
      <b>Mobile num:</b>
      <%= @so_header.customer_maintenance.mobile_num %>
    </p>

    <p>
      <b>Fax num:</b>
      <%= @so_header.customer_maintenance.fax_num %>
    </p>

    <p>
      <b>Email address:</b>
      <%= @so_header.customer_maintenance.email_address %>
    </p>

    <p>
      <b>Outlet code:</b>
      <%= "%03d" % @so_header.customer_maintenance.id %>
    </p>

    <p>
      <b>Outlet name: </b>
      <%= @so_header.customer_maintenance.outlet_name %>
    </p>

    <p>
      <b>Outlet Address: </b>
      <%= @so_header.customer_maintenance.outlet_address %>
    </p>

    <p>
      <b>Outlet City / Town: </b>
      <%= @so_header.customer_maintenance.outlet_city %>
    </p>

    <p>
      <b>Outlet / Billing flag: </b>
      <%= @so_header.customer_maintenance.outlet_billing_flag %>
    </p>

    <p>
      <b>Billing Address: </b>
      <%= @so_header.customer_maintenance.billing_address %>
    </p>

    <p>
      <b>Billing City / Town: </b>
      <%= @so_header.customer_maintenance.billing_city_town %>
    </p>

    <p>
      <b>Terms: </b>
      <%= @so_header.customer_maintenance.terms %>
    </p>

    <p>
      <b>MSF Charge: </b>
      <%= @so_header.customer_maintenance.msf_charge %> computed by <%= @so_header.customer_maintenance.msf_charge_computation %>
    </p>

    <p>
      <b>Delivery Charge: </b>
      <%= @so_header.customer_maintenance.delivery_charge %> computed by <%= @so_header.customer_maintenance.delivery_charge_computation %>
    </p>

    <p>
      <b>Status: </b>
      <%= @so_header.customer_maintenance.status %>
    </p>

    <p>
      <b>Order Schedule: </b>
      <%= @so_header.customer_maintenance.order_schedule %>
    </p>

    <p>
      <b>Delivery Group Code: </b>
      <%= @so_header.customer_maintenance.delivery_group_code %>
    </p>

    <p>
      <b>Production Group Code: </b>
      <%= @so_header.customer_maintenance.production_group_code %>
    </p>

    <p>
      <b>Delivery Notes: </b>
      <%= @so_header.customer_maintenance.delivery_notes %>
    </p>

    <p>
      <b>Additional Notes: </b>
      <%= @so_header.customer_maintenance.additional_notes %>
    </p>

    <p>
      <b>Assess Finance / Late Charges: </b>
      <%= @so_header.customer_maintenance.assess_finance_late_charges %>
    </p>

    <p>
      <b>Finance / Late Charge: </b>
      <%= @so_header.customer_maintenance.finance_late_charges %>
    </p>

    <p>
      <b>Credit Limit: </b>
      <%= @so_header.customer_maintenance.credit_limit %>
    </p>

  </div>
  </div>

<%= link_to 'Update', edit_so_header_path(@so_header), class: "btn btn-mini btn-primary" %> |
<%= link_to 'Back', so_headers_path, class: "btn btn-mini btn-danger" %>
 <br>
