<h1>Sales Order Details: </h1>
<%= link_to "Print", home_printable_path, class: "btn" if signed_in? %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#salesOrder" data-toggle="tab">Sales Order Details</a></li>
  <li><a href="#customerDetails" data-toggle="tab">Customer Details</a></li>
</ul>

<div class="tab-content">
  <div id="salesOrder" class="tab-pane active">
<div class="row">
  <div class="span3">
<p>
  <b>Outlet code:</b>
  <%= @so_header.outlet_code %>
</p>

<p>
  <b>Company code:</b>
  <%= @so_header.company_code %>
</p>

<p>
  <b>Outlet name:</b>
  <%= @so_header.outlet_name %>
</p>

<p>
  <b>Customer name:</b>
  <%= @so_header.customer_name %>
</p>

<p>
  <b>Delivery group:</b>
  <%= @so_header.delivery_group %>
</p>

<p>
  <b>So number:</b>
  <%= @so_header.so_number %>
</p>

<p>
  <b>Order date:</b>
  <%= @so_header.order_date %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @so_header.delivery_date %>
</p>

<p>
  <b>Production date:</b>
  <%= @so_header.production_date %>
</p>

<p>
  <b>Total order amount:</b>
  <%= sprintf("P%0.02f", @so_header.total_order_amount) %>
</p>

<p>
  <b>Vat:</b>
  <%= sprintf("P%0.02f", @so_header.vat) %>
</p>

<p>
  <b>Msf charge:</b>
  <%= sprintf("P%0.02f", @so_header.msf_charge) %>
</p>

<p>
  <b>Delivery charge:</b>
  <%= sprintf("P%0.02f", @so_header.delivery_charge) %>
</p>

<p>
  <b>Grand total:</b>
  <%= sprintf("P%0.02f", @so_header.grand_total) unless @so_header.grand_total.nil? %>
</p>

<p>
  <b>Order status:</b>
  <% if @so_header.order_status.nil? %>
      
  <% else %>
    <%= @so_header.order_status %>
  <% end %>
</p>

<p>
  <b>Sales invoice num:</b>
  <% if @so_header.sales_invoice_num.nil? %>
      
  <% else %>
      <%= @so_header.sales_invoice_num %>
  <% end %>
</p>

<p>
  <b>Sales invoice date:</b>
  <% if @so_header.sales_invoice_date.nil? %>
      
  <% else %>
      <%= @so_header.sales_invoice_date %>
  <% end %>
</p>
<%= link_to 'Update', edit_so_header_path(@so_header), class: "btn btn-mini btn-primary" %> |
<%= link_to 'Back', so_headers_path, class: "btn btn-mini btn-danger" %>
    </div>
  <div class="span9">
    <%= render 'orders' %>
  </div>
  </div>
  </div>
  <div id="customerDetails" class="tab-pane">
    <table class="table">
    <tr>
      <td><b>Customer type:</b></td>
      <td><%= @so_header.customer_maintenance.customer_type %></td>
    </tr>

<tr>
  <td><b>Customer name:</b></td>
  <td><%= @so_header.customer_maintenance.customer_name %></td>
</tr>

<tr>
  <td><b>Customer tax:</b></td>
  <td><%= @so_header.customer_maintenance.customer_tax_id %></td>
</tr>

<tr>
  <td><b>Vat registered:</b></td>
  <td><%= @so_header.customer_maintenance.vat_registered ? 'yes' : 'no' %></td>
</tr>

<tr>
  <td><b>Contact name:</b></td>
  <td><%= @so_header.customer_maintenance.contact_name %></td>
</tr>

<tr>
  <td><b>Primary phone:</b></td>
  <td><%= @so_header.customer_maintenance.primary_phone %></td>
</tr>

<tr>
  <td><b>Mobile num:</b></td>
  <td><%= @so_header.customer_maintenance.mobile_num %></td>
</tr>

<tr>
  <td><b>Fax num:</b></td>
  <td><%= @so_header.customer_maintenance.fax_num %></td>
</tr>

<tr>
  <td><b>Email address:</b></td>
  <td><%= @so_header.customer_maintenance.email_address %></td>
</tr>

<tr>
  <td><b>Outlet code:</b></td>
  <td><%= "%03d" % @so_header.customer_maintenance.id %></td>
</tr>

<tr>
  <td><b>Outlet name: </b></td>
  <td><%= @so_header.customer_maintenance.outlet_name %></td>
</tr>

<tr>
  <td><b>Outlet Address:</b> </td>
  <td><%= @so_header.customer_maintenance.outlet_address %></td>
</tr>

<tr>
  <td><b>Outlet City / Town:</b> </td>
  <td><%= @so_header.customer_maintenance.outlet_city %></td>
</tr>

<tr>
  <td><b>Outlet / Billing flag:</b> </td>
  <td><%= @so_header.customer_maintenance.outlet_billing_flag %></td>
</tr>

<tr>
  <td><b>Billing Address:</b> </td>
  <td><%= @so_header.customer_maintenance.billing_address %></td>
</tr>

<tr>
  <td><b>Billing City / Town:</b> </td>
  <td><%= @so_header.customer_maintenance.billing_city_town %></td>
</tr>

<tr>
  <td><b>Terms: </b></td>
  <td><%= @so_header.customer_maintenance.terms %></td>
</tr>

<tr>
  <td><b>MSF Charge:</b> </td>
  <td><%= sprintf("P%0.02f", @so_header.customer_maintenance.msf_charge) %> computed by <%= @so_header.customer_maintenance.msf_charge_computation %></td>
</tr>

<tr>
  <td><b>Delivery Charge:</b> </td>
  <td><%= sprintf("P%0.02f", @so_header.customer_maintenance.delivery_charge) %> computed by <%= @so_header.customer_maintenance.delivery_charge_computation %></td>
</tr>

<tr>
  <td><b>Status:</b> </td>
  <td><%= @so_header.customer_maintenance.status %></td>
</tr>

<tr>
  <td><b>Order Schedule:</b> </td>
  <td><%= @so_header.customer_maintenance.order_schedule %></td>
</tr>

<tr>
  <td><b>Delivery Group Code:</b> </td>
 <td> <%= @so_header.customer_maintenance.delivery_group_code %></td>
</tr>

<tr>
  <td><b>Production Group Code:</b> </td>
  <td><%= @so_header.customer_maintenance.production_group_code %></td>
</tr>

<tr>
  <td><b>Delivery Notes:</b> </td>
  <td><%= @so_header.customer_maintenance.delivery_notes %></td>
</tr>

<tr>
  <td><b>Additional Notes:</b> </td>
  <td><%= @so_header.customer_maintenance.additional_notes %></td>
</tr>

<tr>
  <td><b>Assess Finance / Late Charges:</b> </td>
  <td><%= @so_header.customer_maintenance.assess_finance_late_charges %></td>
</tr>

<tr>
  <td><b>Finance / Late Charge:</b> </td>
  <td><%= sprintf("P%0.02f", @so_header.customer_maintenance.finance_late_charges) unless @so_header.customer_maintenance.finance_late_charges.nil? %></td>
</tr>

<tr>
  <td><b>Credit Limit:</b> </td>
  <td><%= sprintf("P%0.02f", @so_header.customer_maintenance.credit_limit) unless @so_header.customer_maintenance.credit_limit.nil? %></td>
</tr>
</table>

  </div>
  </div>
 <br>
