<p id="notice"><%= notice %></p>

<h1>Sales Order Details: </h1>

<div class="row">
  <div class="span3">
<p>
  <b>Outlet code:</b>
  <%= @so_header.outlet_code %>
</p>

<p>
  <b>Company code:</b>
  <%= @so_header.company_code %>
</p>

<p>
  <b>Outlet name:</b>
  <%= @so_header.outlet_name %>
</p>

<p>
  <b>Customer name:</b>
  <%= @so_header.customer_name %>
</p>

<p>
  <b>Delivery group:</b>
  <%= @so_header.delivery_group %>
</p>

<p>
  <b>So number:</b>
  <%= @so_header.so_number %>
</p>

<p>
  <b>Order date:</b>
  <%= @so_header.order_date %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @so_header.delivery_date %>
</p>

<p>
  <b>Production date:</b>
  <%= @so_header.production_date %>
</p>

<p>
  <b>Total order amount:</b>
  <%= sprintf("P%0.02f", @so_header.total_order_amount) %>
</p>

<p>
  <b>Vat:</b>
  <%= sprintf("P%0.02f", @so_header.vat) %>
</p>

<p>
  <b>Msf charge:</b>
  <%= sprintf("P%0.02f", @so_header.msf_charge) %>
</p>

<p>
  <b>Delivery charge:</b>
  <%= sprintf("P%0.02f", @so_header.delivery_charge) %>
</p>

<p>
  <b>Grand total:</b>
  <%= sprintf("P%0.02f", @so_header.grand_total) unless @so_header.grand_total.nil? %>
</p>

<p>
  <b>Order status:</b>
  <% if @so_header.order_status.nil? %>
      Pending...
  <% else %>
    <%= @so_header.order_status %>
  <% end %>
</p>

<p>
  <b>Sales invoice num:</b>
  <% if @so_header.sales_invoice_num.nil? %>
      Pending...
  <% else %>
      <%= @so_header.sales_invoice_num %>
  <% end %>
</p>

<p>
  <b>Sales invoice date:</b>
  <% if @so_header.sales_invoice_date.nil? %>
      Pending...
  <% else %>
      <%= @so_header.sales_invoice_date %>
  <% end %>
</p>
    </div>
  <div class="span9">
    <table class="table">
      <tr>
        <th>Product name</th>
        <th>Issue unit</th>
        <th>Unit_price</th>
        <th>Quantity</th>
        <th>Amount</th>
      </tr>
      <% @so_header.so_details.each do |detail| %>
        <tr>
          <td><%= ProductMaintenance.find_by_product_code(detail.product_code).product_description %></td>
          <td><%= detail.issue_unit %></td>
          <td><%= sprintf("P%0.02f", detail.unit_price) %></td>
          <td><%= detail.quantity %></td>
          <td><%= sprintf("P%0.02f", detail.amount) %></td>
          <% unless admin? %>
          <td><%= link_to "Cancel order", detail, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "You can still cancel this order at this moment. Do you wish to continue?" } if detail.so_header.order_status.nil? %></td>
          <% end %>
        </tr>
      <% end %>

    </table>
  </div>
  </div>


<%= link_to 'Edit', edit_so_header_path(@so_header) %> |
<%= link_to 'Back', so_headers_path %>
 <br>
