<h1>Customers</h1>

<br />

<%= will_paginate %>
<br>

<table class="table">
  <tr>
    <th>Customer type</th>
    <th>Customer name</th>
    <th>Customer tax</th>
    <th>Vat registered</th>
    <th>Outlet code</th>
    <th>Outlet name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_maintenances.each do |customer_maintenance| %>
  <tr>
    <td><%= customer_maintenance.customer_type %></td>
    <td><%= customer_maintenance.customer_name %></td>
    <td><%= customer_maintenance.customer_tax_id %></td>
    <td><%= customer_maintenance.vat_registered ? 'yes' : 'no' %></td>
    <td><%= "%03d" % customer_maintenance.outlet_code %></td>
    <td><%= customer_maintenance.outlet_name %></td>
    <td><%= link_to 'Show', customer_maintenance, class: "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_customer_maintenance_path(customer_maintenance), class: "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', customer_maintenance, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>
<br>
<%= will_paginate %>
<br />

<%= link_to "New Customer maintenance", new_customer_maintenance_path , class: "btn" %>

