<ul class="nav nav-tabs">
  <li class="active"><a href="#orders" data-toggle="tab">Orders</a></li>
  <li><a href="#profile_info" data-toggle="tab">Profile Information</a></li>
</ul>

<div class="tab-content">
<div id="orders" class="tab-pane active">
  <legend>Orders requested from <%= @customer_maintenance.customer_name %> of <%= @customer_maintenance.outlet_name %></legend>
<table class="table">
  <tr>
    <th>Order Date</th>
    <th>Grand Total</th>
    <th>Order Status</th>
    <th>Sales Invoice #</th>
    <th>Sales Invoice Date</th>
  </tr>
<% @customer_maintenance.so_headers.reverse.each do |header| %>
  <tr>
    <td><%= link_to header.order_date, header %></td>
    <td><%= sprintf("P%0.02f", header.grand_total) %></td>
    <% if header.order_status.nil? %>
        <td>Pending...</td>
    <% else %>
        <td><%= header.order_status %></td>
    <% end %>
    <% if header.sales_invoice_num.nil? %>
        <td>Pending...</td>
    <% else %>
    <td><%= header.sales_invoice_num %></td>
    <% end %>
    <% if header.sales_invoice_date.nil? %>
        <td>Pending...</td>
    <% else %>
    <td><%= header.sales_invoice_date %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>

<div class="tab-pane fade" id="profile_info">
  <table class="table">
    <tr>
      <td><b>Customer type:</b></td>
      <td><%= @customer_maintenance.customer_type %></td>
    </tr>

<tr>
  <td><b>Customer name:</b></td>
  <td><%= @customer_maintenance.customer_name %></td>
</tr>

<tr>
  <td><b>Customer tax:</b></td>
  <td><%= @customer_maintenance.customer_tax_id %></td>
</tr>

<tr>
  <td><b>Vat registered:</b></td>
  <td><%= @customer_maintenance.vat_registered ? 'yes' : 'no' %></td>
</tr>

<tr>
  <td><b>Contact name:</b></td>
  <td><%= @customer_maintenance.contact_name %></td>
</tr>

<tr>
  <td><b>Primary phone:</b></td>
  <td><%= @customer_maintenance.primary_phone %></td>
</tr>

<tr>
  <td><b>Mobile num:</b></td>
  <td><%= @customer_maintenance.mobile_num %></td>
</tr>

<tr>
  <td><b>Fax num:</b></td>
  <td><%= @customer_maintenance.fax_num %></td>
</tr>

<tr>
  <td><b>Email address:</b></td>
  <td><%= @customer_maintenance.email_address %></td>
</tr>

<tr>
  <td><b>Outlet code:</b></td>
  <td><%= "%03d" % @customer_maintenance.id %></td>
</tr>

<tr>
  <td><b>Outlet name: </b></td>
  <td><%= @customer_maintenance.outlet_name %></td>
</tr>

<tr>
  <td><b>Outlet Address:</b> </td>
  <td><%= @customer_maintenance.outlet_address %></td>
</tr>

<tr>
  <td><b>Outlet City / Town:</b> </td>
  <td><%= @customer_maintenance.outlet_city %></td>
</tr>

<tr>
  <td><b>Outlet / Billing flag:</b> </td>
  <td><%= @customer_maintenance.outlet_billing_flag %></td>
</tr>

<tr>
  <td><b>Billing Address:</b> </td>
  <td><%= @customer_maintenance.billing_address %></td>
</tr>

<tr>
  <td><b>Billing City / Town:</b> </td>
  <td><%= @customer_maintenance.billing_city_town %></td>
</tr>

<tr>
  <td><b>Terms: </b></td>
  <td><%= @customer_maintenance.terms %></td>
</tr>

<tr>
  <td><b>MSF Charge:</b> </td>
  <td><%= sprintf("P%0.02f", @customer_maintenance.msf_charge) %> computed by <%= @customer_maintenance.msf_charge_computation %></td>
</tr>

<tr>
  <td><b>Delivery Charge:</b> </td>
  <td><%= sprintf("P%0.02f", @customer_maintenance.delivery_charge) %> computed by <%= @customer_maintenance.delivery_charge_computation %></td>
</tr>

<tr>
  <td><b>Status:</b> </td>
  <td><%= @customer_maintenance.status %></td>
</tr>

<tr>
  <td><b>Order Schedule:</b> </td>
  <td><%= @customer_maintenance.order_schedule %></td>
</tr>

<tr>
  <td><b>Delivery Group Code:</b> </td>
 <td> <%= @customer_maintenance.delivery_group_code %></td>
</tr>

<tr>
  <td><b>Production Group Code:</b> </td>
  <td><%= @customer_maintenance.production_group_code %></td>
</tr>

<tr>
  <td><b>Delivery Notes:</b> </td>
  <td><%= @customer_maintenance.delivery_notes %></td>
</tr>

<tr>
  <td><b>Additional Notes:</b> </td>
  <td><%= @customer_maintenance.additional_notes %></td>
</tr>

<tr>
  <td><b>Assess Finance / Late Charges:</b> </td>
  <td><%= @customer_maintenance.assess_finance_late_charges %></td>
</tr>

<tr>
  <td><b>Finance / Late Charge:</b> </td>
  <td><%= sprintf("P%0.02f", @customer_maintenance.finance_late_charges) unless @customer_maintenance.finance_late_charges.nil? %></td>
</tr>

<tr>
  <td><b>Credit Limit:</b> </td>
  <td><%= sprintf("P%0.02f", @customer_maintenance.credit_limit) unless @customer_maintenance.customer_maintenance.nil? %></td>
</tr>
</table>


<%= link_to 'Edit', edit_customer_maintenance_path(@customer_maintenance) %> |
<%= link_to 'Back', customer_maintenances_path %>
</div>
</div>