<head>
  <%= stylesheet_link_tag "print.css" %>
</head>
<body>
  <div class="container">
    <div class="row">
    	<div class="span4">
    		<br />
        <b>SO Number:</b> <%= @so_header.so_number %><br />
        <b>Customer name:</b> <%= current_user.customer_name %><br />
        <b>Customer address:</b> <%= @so_header.customer_maintenance.outlet_address %><br />
      </div>
      <div class="span4">
        <div align="center">
        <%= image_tag("logo-lotsapizza.jpg", size: "350x150") %>
        </div>
      </div>
      <div class="span3" style="float:right;">
        <br />
        <b>Outlet code: </b> <%= current_user.outlet_code %><br />
        <b>Delivery group code:</b> <%= current_user.delivery_group_code %>
      </div>
    </div>

      <table class="table table-bordered" border="1">
        <tr>
          <th>Product name</th>
          <th>Unit price</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
        <% @so_header.so_details.each do |detail| %>
          <tr>
            <td><%= ProductMaintenance.find_by_product_code(detail.product_code).product_description %></td>
            <td><%= sprintf("P%0.02f", detail.unit_price) %></td>
            <td><%= detail.quantity %></td>
            <td><%= sprintf("P%0.02f", detail.amount) %></td>
          </tr>
        <% end %>
          <tr>
            <td><strong>Total: </strong></td>
            <td></td>
            <td></td>
            <td><strong><%= sprintf("P%0.02f", @so_header.total_order_amount) %></strong></td>
          </tr>
          <tr>
            <td colspan="4" style="text-align:center;"><b>Additional Charges</b></td>
          </tr>
          <tr>
            <td><b>MSF Charge: </b></td>
            <td></td>
            <td></td>
            <td><%= sprintf("P%0.02f", current_user.msf_charge) %></td>
          </tr>
          <tr>
            <td><b>Delivery Charge: </b></td>
            <td></td>
            <td></td>
            <td><%= sprintf("P%0.02f", current_user.delivery_charge) %></td>
          </tr>
          <tr>
            <td><b>VAT: </b></td>
            <td></td>
            <td></td>
            <td><%= sprintf("P%0.02f", @so_header.vat) %></td>
          </tr>
          <tr>
            <td><b>Grand Total: </b></td>
            <td></td>
            <td></td>
            <td><b><%= sprintf("P%0.02f", @so_header.grand_total) %></b></td>
          </tr>
      </table>
  <br />
</div>
</body>