<p>
  <b>Company name:</b>
  <%= @system_table.company_name %>
</p>

<p>
  <b>Company address:</b>
  <%= @system_table.company_address %>
</p>

<p>
  <b>Tax id number:</b>
  <%= @system_table.tax_ID_number %>
</p>

<p>
  <b>Vat registered:</b>
  <%= @system_table.vat_registered %>
</p>

<p>
  <b>Vat registration:</b>
  <%= @system_table.vat_registration %>
</p>

<p>
  <b>Bir accreditation number:</b>
  <%= @system_table.bir_accreditation_number %>
</p>

<p>
  <b>Vat percent:</b>
  <%= @system_table.vat_percent %>
</p>

<p>
  <b>Telephone number:</b>
  <%= @system_table.telephone_number %>
</p>

<p>
  <b>Fax number:</b>
  <%= @system_table.fax_number %>
</p>

<p>
  <b>Email address:</b>
  <%= @system_table.email_address %>
</p>

<p>
  <b>Web address:</b>
  <%= @system_table.web_address %>
</p>


<%= link_to 'Edit', edit_system_table_path(@system_table) %> |
<%= link_to 'Back', system_tables_path %>
