<%= form_for(@product_maintenance) do |f| %>
  <% if @product_maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_maintenance.errors.count, "error") %> prohibited this product_maintenance from being saved:</h2>

      <ul>
      <% @product_maintenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span6">

  <div class="field">
    <%= f.label :product_code %><br />
    <%= f.text_field :product_code, class: "input-mini" %> <span class="label label-info">3-digit alpha numeric</span>
  </div>
  <div class="field">
    <%= f.label :product_name %><br />
    <%= f.text_area :product_description, rows: 5 %>
  </div>
  <div class="field">
    <%= f.label :category %><small><%= link_to "Add Category", new_category_path %> | <a href="#categoryManage" data-toggle="tab">Manage Categories</a></small><br />
    <div class="tab-content">
      <div class="tab-pane" id="categoryManage">
        <a href="#blank" data-toggle="tab" class="btn btn-mini">Close</a>
        <%= render 'categories/index' %>
      </div>
      <div class="tab-pane active" id="blank">
        <% Category.all.each do |category| %>
        <%= f.radio_button :category, category.category %> <%= category.category %>
        <br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :po_unit %><br />
    <%= f.select :po_unit, "<option>Case</option><option>Box</option><option>Pack</option><option>Can</option><option>etc</option>".html_safe, prompt: "Please Select a Unit" %>
  </div>
  <div class="field">
    <%= f.label :Quantity_on_hand %><br />
    <%= f.text_field :on_hand, class: "input-mini" %>
  </div>
  </div>
<div class="span6">
  <div class="field">
    <%= f.label :issue_unit %><br />
    <%= f.select :issue_unit, "<option>Case</option><option>Box</option><option>Pack</option><option>Can</option><option>etc</option>".html_safe, prompt: "Please Select a Unit" %>
  </div>
  <div class="field">
    Subject to vat <%= f.check_box :subject_to_vat %>
  </div>
  <div class="field">
    Subject to finance / late charge <%= f.check_box :subject_to_finance_late_charge %>
  </div>
  <div class="field">
    Eligible for discount <%= f.check_box :eligible_for_discount %>
  </div>
  <div class="field">
    <%= f.label :purchase_price %><br />
    <%= f.text_field :purchase_price, value: sprintf("%0.02f", 0), class: "input-mini" %>
  </div>
  <div class="field">
    <%= f.label :selling_price %><br />
    <%= f.text_field :selling_price, value: sprintf("%0.02f", 0), class: "input-mini" %>
  </div>
  <div class="field">
    Raw_materials <%= f.check_box :raw_materials %>
  </div>
  <div class="field">
    <%= f.label :sort_code %><br />
    <%= f.text_field :sort_code, class: "input-mini" %>
  </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Save", class: "btn" %>
  </div>
<% end %>