<h1>Products Available</h1>
<div class="accordion" id="finder">
  <div class="accordion-group">
    <div class="accordion-header">
      <a href="#productDescription" class="accordion-toggle" data-toggle="collapse" data-parent="finder">Search by Product Description</a>
    </div>
    <div class="accordion-body collapse" id="productDescription">
      <div class="accordion-inner">
<%= search_form_for @q do |f| %>
    <%= f.text_field :product_description_cont, placeholder: "Product name", class: "input-medium search-query" %>
    <%= f.submit "Search", class: "btn" %>
<% end %>
</div>
</div>
<div class="accordion-header">
  <a href="#categoryName" class="accordion-toggle" data-toggle="collapse" data-parent="finder">Search by Category Name</a>
</div>
<div class="accordion-body collapse" id="categoryName">
  <div class="accordion-inner">

<%= search_form_for @q do |f| %>
  <%= f.select :category_cont, "<option>Beverages</option><option>Boxes</option><option>Bread</option><option>Forms</option><option>Groceries</option><option>In can</option><option>Pizza Crust</option><option>Plastics</option><option>Toppings</option>".html_safe, prompt: "Search by Category" %>
  <%= f.submit "Search", class: "btn" %>
<% end %>
</div>
</div>
</div>
</div>
<% unless admin? %>
<a href="#totalOrders" class="btn" data-toggle="modal"><%= pluralize(current_user.so_headers.find(current_user.so_headers.last.id).so_details.count, "Order") %> in your cart</a>
<% end %>
<table class="table table-striped">
  <tr>
    <th>Product code</th>
    <th>Product description</th>
    <th>Category</th>
    <th>Quantity on hand</th>
    <th>Po unit</th>
    <% if admin? %>
    <th>Subject to vat</th>
    <th>Subject to finance / late charge</th>
    <th>Eligible for discount</th>
    <% end %>
    <th>Issue unit</th>
    <th>Purchase price</th>
    <th>Selling price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_maintenance.sort_by(&:product_description).each do |product_maintenance| %>
  <tr>
    <td><%= product_maintenance.product_code %></td>
    <td><%= product_maintenance.product_description %></td>
    <td><%= product_maintenance.category %></td>
    <td><%= product_maintenance.on_hand %></td>
    <td><%= product_maintenance.po_unit %></td>
    <% if admin? %>
    <td><%= product_maintenance.subject_to_vat ? 'yes' : 'no' %></td>
    <td><%= product_maintenance.subject_to_finance_late_charge ? 'yes' : 'no' %></td>
    <td><%= product_maintenance.eligible_for_discount ? 'yes' : 'no' %></td>
    <% end %>
    <td><%= product_maintenance.issue_unit %></td>
    
    <td><%= sprintf("P%0.02f", product_maintenance.purchase_price) %></td>
    <td><%= sprintf("P%0.02f", product_maintenance.selling_price) %></td>
    <% if signed_in? %>

    <%= form_for(@so_detail) do |f| %>

    <%= f.hidden_field :outlet_code, value: current_user.outlet_code %>

    <%= f.hidden_field :outlet_name, value: current_user.outlet_name %>

    <%= f.hidden_field :customer_name, value: current_user.customer_name %>

    <%= f.hidden_field :delivery_group, value: current_user.delivery_group_code %>

    <%= f.hidden_field :product_code, value: product_maintenance.product_code %>

    <%= f.hidden_field :issue_unit, value: product_maintenance.conversion_factor %>

    <%= f.hidden_field :unit_price, value: product_maintenance.purchase_price %>

    <%= f.hidden_field :so_number, value: current_user.so_headers.last.id %>

    <%= f.hidden_field :so_header_id, value: current_user.so_headers.last.id %>

    <td><%= f.number_field :quantity, placeholder: "Quantity", class: "input-mini" %>

    <%= f.submit "Submit Order", class: "btn btn-mini" %></td>

<% end %>

    <% end %>
    <% if admin? %>
    <td><%= link_to 'Update', edit_product_maintenance_path(product_maintenance), class: "btn btn-mini" %></td>
    <td><%= link_to 'Delete', product_maintenance, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<br />

<% if admin? %>
<%= link_to 'Create New Product', new_product_maintenance_path, class: "btn" %>
<% end %>
<% unless admin? %>
<% unless current_user.so_headers.last.nil? %>
<% if signed_in? %>
<div class="modal hide fade" id="totalOrders">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">X</a>
    <h2>Your recent orders</h2>
  </div>
  <div class="modal-body"> 
<table class="table">
      <tr>
        <th>Product name</th>
        <th>Unit_price</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th></th>
        <th></th>
      </tr>
      <% current_user.so_headers.find(current_user.so_headers.last.id).so_details.each do |detail| %>
        <tr>
          <td><%= ProductMaintenance.find_by_product_code(detail.product_code).product_description %></td>
          <td><%= sprintf("P%0.02f", detail.unit_price) %></td>
          <td><%= detail.quantity %></td>
          <td><%= sprintf("P%0.02f", detail.amount) %></td>
          <td><%= link_to "Cancel order", detail, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "You can still cancel this order at this moment. Do you wish to continue?" } if detail.so_header.order_status.nil? %></td>
        </tr>
      <% end %>

</table>
</div>
<div class="modal-footer">
  <button type="close" class="btn" data-dismiss="modal">Close</button>
</div>
</div>
<% end %>
<% end %>
<% end %>